<div class="login-wrapper">
	<img src="/images/logo.jpg">

	<p>
		<strong> LOGIN! </strong>
	</p>
	<form action="/login" method="post">
		<p>
			<label for= "Username" id="U1">Username</label>
			<input type="text" name="Username" id="Username"></input>
		</p>

		<p>
			<label for= "password-field">
				Password
			</label>
			<input type="password" name="password" id="password-field">
		</p>

		<p>
			<input type="submit">
		</p>
	</form>
</div>	

	




