<form action="/pins/create" method="post">
		<p>
			<strong> New Pin 2 </strong>
		</p>

		<img src = "http://globalassets.starbucks.com/assets/c250b8ffd5c7483c8aa10f790f93f18c.jpg"/>
		<p>
			<label for= "post" id="image"> Post Image URL: </label>
			<input type="text" name="post" id="post" placeholder="Enter an image URL..."></input>
		</p>
		<p>
			<label for= "comment" id="comment1">Comment</label>
			<textarea name="body" rows="3" cols="80"></textarea><br><br>
		</p>
		<p>
			<input type="submit" value="Post Pin"></input>
		</p>
</form>

 

