
<form action="/login" method="post">
	<div class="login-wrapper">
		<img src="/images/logo.jpg">
		<p>
			<strong> LOGIN! </strong>
		</p>
		<p>
			<label for= "username" id="U1">Username</label>
			<input type="text" id="username" value="<%= @current_user.username %>" 
		</p>
		<p>
			<label for= "password">Password </label>
			<input type="password"  id="password" value=" <%= current_user.password%>"
		</p>
		<p>
			<input type="submit">
		</p>
	</div>	
</form>