<form action="/signup" method="post">
	<p>
		<fieldset>
			<legend> Billing Address </legend> 
			<p> 
				<span>Address </span>
				<input type ="text"/>
			</p>
			<p>
				<span> City </span> 
				<input type="text"/>
			</p>
			<p>
				<span> Province </span>
				<input type="text"/>
			</p>
			<p>
				<span> Postal Code </span>
				<input type="text"/>
			</p>
		</fieldset>
	</p>

			<p>
			<input type="submit">
			</p>