<form action="/signup" method="post">
	<p>
		<p>
			<strong> Sign Up </strong>
		</p>
		<p>
			<label for= "Username" id="U1">Username</label>
			<input type="text" name="username" id="Username"></input>
		</p>
		<p>
			<label for= "password-field">Password </label>
			<input type="password" name="password" id="password-field"/>
		</p>

		<fieldset>
			<legend> Billing Address </legend> 
			<p> 
				<span>Address </span>
				<input type ="text"/>
			</p>
			<p>
				<span> City </span> 
				<input type="text"/>
			</p>
			<p>
				<span> Province </span>
				<input type="text"/>
			</p>
			<p>
				<span> Postal Code </span>
				<input type="text"/>
			</p>
		</fieldset>
	</p>

			<p>
			<input type="submit">
			</p>